#grid {
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    height: 500px;
}

/* ideal size of each grid is 6.25% == 1/16 */
.cell {
    background-color: lightgrey;
    margin: 0;
    flex: 0 1 6.25%;
}