/* ideal size of each grid in a 16x16 is 6.25% == 1/16 */
:root {
    --cell-size: 6.25%;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    border: 0.5px solid black;
    width: 500px;
    height: 500px;
}

.cell {
    background-color: white;
    margin: 0;
    flex: 0 1 var(--cell-size);
}